/* Navbar */
body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
#navbar{
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e8e8e8;
    align-items: center;
    padding: 8px;
    margin: 0;
    height: 40px;
    background-color: transparent;
    transition: 300ms ease-in-out;
    color:#eeeeee;
    z-index: 1;
}

#navbar.navbar--dark {
    background-color: #222831;
    padding:8px;
}
.navbar--title{
    color:#eeeeee;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    padding: 0%;
}
.navbar__menu{
    display: flex;
}
.navbar__logo{
    font-size: 30px;
    font-weight: bold;
    
}
.navbar__logo__img{
    margin-right:10px;
}
.navbar__menu__item.active{
    border: 1px solid #222831;
    border-radius: 4px;
}
.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
}
.navbar__menu__item:hover{
    color: #222831;;
    background-color:#dddddd;
}

.navbar__toggle-btn{
    position: absolute;
    right: 32px;
    font-size: x-large;
    display: none;
}
/* Home */
#home{
    background: url('img/background.png') center/cover no-repeat;
    padding: 60px;
    text-align: center;
    padding-top: 100px;
}

.home__avatar{
    width:400px;
    height:400px;
    border-radius: 50%; 
    border: solid 2px #e8eae6;
}
.home__title,
.home__descrption{
    color:#e8eae6;
    font-size: 2.5rem;
}
.home__contact{
    font-size: medium;
    font-weight: bold;
    margin: 14px;
    padding: 8px 12px;
    border: 2px solid #e8eae6;
    border-radius: 8px;
    color:#e8eae6;
}
button {
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline: none;;
}
.home__contact:hover{
    color: #222831;;
    background-color:#dddddd;
}

/* Section Common */
.section{
    margin: auto;
    padding:50px;
    text-align: center;
}
.section__container{
    max-width: 1200px;
    margin: auto;
}
/* About */
.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    flex-wrap: wrap;
    ;
}

.major__icon {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    border-radius: 50%;
    font-size: 200px;
    color: #30475e;
    margin: auto auto 30px auto;
}
.major__icon:hover{
    color:#f05454;
    transform: rotate(-30deg);
    transition: all 300ms ease;
}

.major__title{
    font-size: 2rem;
    color: #30475e;
    margin-bottom: 10px;
}

.major__description{
    color: #30475e;
}

.job,
.education{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.job__first{
    display: flex;
    justify-content: space-evenly;
}
.company__name,
.school_name
{
    color:lightslategrey;
    font-size: small;
}
.company__duration,
.education__duration{
    color:lightslategray;
    font-size: smaller;
}
.company__logo{
    width:92px;
}
/* Skill */
#skills{
   background-color:#dddddd;
   margin-bottom: 8px;    
}
.skill__table{
    display: flex;
    background-color: #222831;
    color:#dddddd;
    margin: 20px 0;
}

.skillset__left{
    flex-basis: 60%;
    background-color: #222831;
    padding-bottom: 10px;
}
.skillset_right{
    flex-basis: 40%;
    background-color: #30475e;
}
.skill_description{
    display:flex;
    justify-content: space-between;
    margin: 20px 15px;
}
.skill__bar{
    width: 100%;
    height: 3px;
    background-color:#30475e
}
.skill__value{
    height:3px;
    background-color: #f05454;
}


.tools{
    margin-top:30px;
    padding: 20px;
}
.etc{
    margin-top: 50px;

}
/* Work */

.category__btn{
    border: solid 1px lightslategray;
    border-radius: 4px;
    font-size: 1.1rem;
    padding: 8px 48px;
    margin-right: 10px;
}
.category__btn:hover{
    transition: 300ms ease-in;
    background-color:#30475e;
    color:whitesmoke;
}

.category__count{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    background-color: #dddddd;
    color:black;
    opacity: 1;
    margin-left: 10px;
    
}

.category__count:hover{
    transition: 300ms ease-in;
    transform: scale(1.2);
    
}
.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all ease-out;
}
.work__projects.anim-out{
    opacity: 0.8;
    transition: 300ms;
    transform: scale(0.96) translateY(40px);
    
}
.work__project{
    width:200px;
    height: 200px;
    margin: 3%;
    opacity: 1;
    align-items: center;
    justify-content: center;
    position: relative;

}

.project__description{
    color:#222831;

}
.project__img{
    max-width: 100%;
    height: 100%;
}

.work__project:hover{
    transition: 300ms ease-in;
    opacity: 0.8
}

.project.invisible{
    display: none;
    
}


/* Testimonials */
#testimonials{
    background-color: #222831;
    color:#dddddd;
}

.testimonial{
    display: flex;
    margin-bottom: 40px;
    
}
.testimonial__speech{
    text-align: right;
}
.name{
    color:#dddddd;
}

#contact{
    background-color: #e7e7de;
    color:#008891;
    margin: 0;
}
.contact__social{
    font-size: 50px;
    color:#00587a;
    margin-left: 15px;
}
.contact__social i:hover{
    transform:scale(1.2);
    transition: 300ms ease-in;
    color:#0f3057;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height:30px;
    opacity: 0.8;
}

.arrow-up{
    position: fixed;
    bottom: 100px;
    right: 3%;
    font-size: 70px;
    color:#0f3057;
    transition: opacity 300ms ease-in;
    opacity: 0;
    pointer-events: none;
}
.uparrow{
    color:#0f3057;;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
    
}
/* For below 768px screen width */
@media screen and (max-width: 768px){
#navbar{
    flex-direction: column;
    align-items: flex-start;
    background-color:#222831;
    width: 100%;
}

.navbar__menu{
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    background-color:#222831;
}
.navbar__menu__item{
    text-align: center;
}
.navbar__menu.open{
    display:block;
}
.navbar__toggle-btn{
    display: block;
}
#home{
    display: flex;
    justify-content: center;
}
.home__avatar{
    width: 300px;
    height: 300px;
}
.home__title,.home__descrption{
    font-size: 30px;
}
#about{
    flex-direction: column;
}
.about__majors{
    flex-direction: column;
    margin: 0%;
}
.major__icon{
    width: 200px;
    height:200px;
    font-size: 120px;
}
.micon{
    margin-top: 40px;
}
.section{
    padding: 0;
    margin: 0;
}
.major__description{
    margin-bottom: 30px;
}

.about__jobs{
    flex-direction: column;
}
.job__first{
    margin-top:0;
    flex-direction: column;
    justify-content: space-between;
}
.work__project{
    margin-bottom: 20%;
}
.category__btn{
    margin-bottom: 10px;
}
.skill__section{
    padding-top: 10px;
}
.skillset_right{
    margin:0;
    padding: 0;
}
.skillset__title{
    margin: 0;
    padding: 0;
}
.tools_list{
    margin-bottom: 0%;
}
.skill__table{
    flex-direction: column;
}
.testimonial{
    flex-direction: column;
    align-items: center;
}
.testimonial3{
    margin-bottom: 0;
}
.testimonial__people{
    width: 181px;
    height: 156px;
}
.testimonial__speech{
    text-align: center;
}
.contact_title{
    padding-top: 10px;
    margin-top: 0;
    
}
.contact__copyright{
    margin-bottom: 0;
}
}
